@page "/NestedRouterParent"
@inject NavigationManager NavigationManager

@code {
    private void ShowHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void ShowCounter()
    {
        NavigationManager.NavigateTo("/counter");
    }

    private void ShowWeather()
    {
        NavigationManager.NavigateTo("/weather");
    }
}

<div class="nested-conainer-nav">
    <button class="btn btn-primary" @onclick="ShowHome">Home</button>
    <button class="btn btn-primary" @onclick="ShowCounter">Counter</button>
    <button class="btn btn-primary" @onclick="ShowWeather">Weather</button>
</div>

<div class="nested-router-container">
<NestedRouter>
    <Home />
</NestedRouter>
</div>